
## <summary>policy for kcoin</summary>


########################################
## <summary>
##	Transition to kcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`kcoin_domtrans',`
	gen_require(`
		type kcoin_t, kcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, kcoin_exec_t, kcoin_t)
')


########################################
## <summary>
##	Execute kcoin server in the kcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kcoin_initrc_domtrans',`
	gen_require(`
		type kcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, kcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search kcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kcoin_search_lib',`
	gen_require(`
		type kcoin_var_lib_t;
	')

	allow $1 kcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read kcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kcoin_read_lib_files',`
	gen_require(`
		type kcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, kcoin_var_lib_t, kcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kcoin_manage_lib_files',`
	gen_require(`
		type kcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, kcoin_var_lib_t, kcoin_var_lib_t)
')

########################################
## <summary>
##	Manage kcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`kcoin_manage_lib_dirs',`
	gen_require(`
		type kcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, kcoin_var_lib_t, kcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a kcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`kcoin_admin',`
	gen_require(`
		type kcoin_t;
		type kcoin_initrc_exec_t;
		type kcoin_var_lib_t;
	')

	allow $1 kcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, kcoin_t)

	kcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 kcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, kcoin_var_lib_t)

')

