policy_module(kcoin, 1.100.1)

########################################
#
# Declarations
#

type kcoin_t;
type kcoin_exec_t;
init_daemon_domain(kcoin_t, kcoin_exec_t)

permissive kcoin_t;

type kcoin_initrc_exec_t;
init_script_file(kcoin_initrc_exec_t)

type kcoin_conf_t;
files_type(kcoin_conf_t)

type kcoin_var_lib_t;
files_type(kcoin_var_lib_t)

type kcoin_var_run_t;
files_type(kcoin_var_run_t)

type kcoin_port_t;
corenet_port(kcoin_port_t)

########################################
#
# kcoin local policy
#
allow kcoin_t self:process { fork };

allow kcoin_t self:fifo_file rw_fifo_file_perms;
allow kcoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(kcoin_t, kcoin_conf_t, kcoin_conf_t)
manage_files_pattern(kcoin_t, kcoin_conf_t, kcoin_conf_t)

manage_dirs_pattern(kcoin_t, kcoin_var_lib_t, kcoin_var_lib_t)
manage_files_pattern(kcoin_t, kcoin_var_lib_t, kcoin_var_lib_t)
files_var_lib_filetrans(kcoin_t, kcoin_var_lib_t, { dir file })

manage_dirs_pattern(kcoin_t, kcoin_var_run_t, kcoin_var_run_t)
manage_files_pattern(kcoin_t, kcoin_var_run_t, kcoin_var_run_t)

sysnet_dns_name_resolve(kcoin_t)
corenet_all_recvfrom_unlabeled(kcoin_t)

allow kcoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(kcoin_t)
corenet_tcp_sendrecv_generic_node(kcoin_t)
corenet_tcp_sendrecv_all_ports(kcoin_t)
corenet_tcp_bind_generic_node(kcoin_t)

gen_require(`
    type kcoin_port_t;
')
allow kcoin_t kcoin_port_t:tcp_socket name_bind;

gen_require(`
    type kcoin_port_t;
')
allow kcoin_t kcoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(kcoin_t)

files_read_etc_files(kcoin_t)

miscfiles_read_localization(kcoin_t)

sysnet_dns_name_resolve(kcoin_t)

allow kcoin_t kcoin_exec_t:file execute_no_trans;
allow kcoin_t self:process setsched;
corecmd_exec_ls(kcoin_t)
corenet_tcp_connect_http_port(kcoin_t)
dev_read_urand(kcoin_t)
fs_getattr_xattr_fs(kcoin_t)
kernel_read_system_state(kcoin_t)
